.page {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product-wrapper .title {
  display: block;
  text-align: center;
  font-size: 40rpx;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 14rpx;
}

.product-wrapper .des {
  padding: 20rpx 50rpx;
  font-size: 32rpx;
  text-indent: 30rpx;
  text-align: justify;
  line-height: 1.6;
}

.product-wrapper .sub-title {
  display: block;
  text-align: center;
  width: 240rpx;
  margin: 40rpx auto;
  font-size: 48rpx;
  font-weight: bold;
  letter-spacing: 20rpx;
  color: rgb(63, 62, 63);
  border: 1px solid rgb(63, 62, 63);
}

.product-wrapper .image {
  display: block;
  width: 500rpx;
  height: 500rpx;
  overflow: hidden;
  border-radius: 500rpx;
  margin: 0 auto 40rpx;
}

.product-wrapper .rect {
  width: 100%;
  border-radius: 0rpx !important;
}

.product-wrapper .rect:first-child {
  margin-top: 30rpx;
}

.product-list {
  margin-top: 45rpx;
  padding: 20rpx 50rpx;
  text-align: center;
}

.product-list .summary {
  border-radius: 5px;
  background-color: #e0e0e0;
  padding: 50rpx 80rpx;
}

.product-list .summary .summary-top {
  background-color: rgb(172, 29, 16);
  border-radius: 10rpx;
  color: white;
  width: 380rpx;
  margin: 0 auto 30rpx;
  padding: 15rpx 0;
}

.product-list .summary .summary-top .text {
  font-size: 48rpx;
  display: block;
}

.product-list .summary .summary-bottom-title {
  display: block;
  font-size: 40rpx;
  font-weight: bold;
}

.product-list .summary .summary-bottom-content {
  display: block;
  font-size: 36rpx;
}

.product-list .item,
.product-list .contact {
  margin-top: 40rpx;
}

.product-list .item .title {
  display: block;
  color: rgb(171, 25, 66);
  font-size: 40rpx;
  font-weight: bold;
  margin-bottom: 20rpx;
}

.product-list .item .sub-title {
  display: block;
  font-size: 40rpx;
  font-weight: bold;
  color: rgb(51, 51, 51);
  margin-bottom: 5rpx;
}

.product-list .item .image {
  display: block;
  width: 100%;
  margin-bottom: 20rpx;
}

.product-list .item .price {
  display: block;
  font-size: 48rpx;
  color: rgb(51, 51, 51);
}

.product-list .item .spe {
  margin-top: 30rpx;
}

.product-list .contact {
  font-size: 32rpx;
  line-height: 1.5;
  text-align: left;
}

.product-list .contact .info {
  margin-top: 20rpx;
  font-weight: bold;
  color: #333;
}

.product-list .contact text {
  display: block;
}

.product-list .contact .qrcode {
  display: block;
  margin: 0 auto;
  width: 400rpx;
  height: 400rpx;
  margin-top: 40rpx;
}

.split-line {
  display: block;
  height: 1px;
  border-bottom: 1px solid rgb(63, 62, 63);
  margin-top: 30rpx;
}
